.team-page{
    width: 100%;
    padding-top: 100px;
    position: relative;
    color: white;
}

.team_page h2{
    width: 100%;
    font-size: 30px;
    color: #111;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.team_container{
    width: 47%;
    min-width: 220px;
    border: 3px solid #3f3;
    position: relative;
    float: left;
    overflow: auto;
    margin: 5px 10px 5px 10px;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    background: #111;
}

.team_container h2{
    font-size: 20px;
    color: #3f3;
}

.roster_player{
    width: 190px;
    height: 100px;
    background: #bbb;
    box-shadow: 2px 2px 4px #090;
    margin: 10px 5px 10px 5px;
    padding: 8px 8px 8px 8px;
}

.roster_player p{
    margin: 0;
    font-weight: bold;
}

/* .team_roster{
    width: 47%;
    min-width: 220px;
    border: 3px solid #3f3;
    position: relative;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    background: #111;
} */

/* .team_schedule{
    
} */
