.nav-bar {
    position: fixed;
    width: 100%;
    background-color: black;
    z-index: 2;
}
.all-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
}
.espn {
    padding-top: 1.2vmin;
}
.main-title {
    color: white;
}
.dropdown {
    position: relative;
    display: inline-block;
    padding-top: .5vmin;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown-content a {
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.header {
    padding-top: 10vh;
}
.all-scores {
    text-align: center;
}
.ind-score {
    border: 2px solid black;
    width: 40%;
    margin: 2vmin;
    display: inline-block;
}
.team-name {
    float: left;
    margin-left: 1vmin;
}
.team-score {
    float: right;
    margin-right: 1vmin;
}
.ind-pop-stories {
    margin: 1vmin 0;
    color: black;
}
.at {
    padding-top: 1vmin;
}
.story-title {
    font-size: 30px;
    color: black;
}
.story-description {
    font-size: 15px;
    color: black;
}
.stories a:hover {

}
