html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-image: url("/images/dark-triangles.png");
}

/***************
*****NAVBAR*****
***************/

.nav-bar {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    z-index: 2;
}

.main-title {
    color: #16425B;
    font-style: italic;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    margin-left: 1vw;
}

.all-links h1 {
    font-size: 5vmin;
    font-style: italic;
    font-family: 'Permanent Marker', cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link-titles a {
    color: #16425B;
}

.link-titles a:hover {
    text-decoration: none;
    color: white;
}

/***************
*****HEADER*****
***************/

/*.header {*/
/*padding-top: 10vh;*/
/*}*/

/*****************
*****ARTICLES*****
*****************/
.main-page {
    margin-top: 10vmax;
}

.story-title {
    font-size: 30px;
    color: white;
}

.story-description {
    font-size: 15px;
    color: white;
}

.home-articles {
    text-align: center;
}

.main-articles {
    text-align: center;
}

.news-articles {
    margin-top: 15vh;
}

.ind-articles {
    text-align: left;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-top: .5vmin;
}

.dropdown-content {
    display: none;
    position: relative;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    text-align: center;
    border-left: 3px solid #16425B;
    border-bottom: 3px solid #16425B;
    border-right: 3px solid #16425B;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    text-decoration: none;
    cursor: pointer;
}

.all-channels {
    text-align: center;
}

.fox-sports {
    margin-top: 3vmin;
}

.all-channels div img {
    opacity: .3;
}

.all-channels div img:hover {
    opacity: 1;
    cursor: pointer;
}

/***************
*****SCORES*****
***************/

.all-scores {
    text-align: center;
}

.ind-score {
    border: 4px solid #16425B;
    width: 40%;
    /*height: 5vh;*/
    margin: 2vmin;
    display: inline-block;
    text-align: left;
    /*padding: 1vmin 0;*/
}

.team-name {
    font-weight: 700;
    border-radius: 25px;
    color: white;
}

.team-score {
    float: right;
    margin-right: 1vmin;
    font-weight: 700;
    color: white;
}

.ind-pop-stories {
    margin: 1vmin 0;
    color: white;
}

.at {
    font-family: 'Arvo', serif;
    font-weight: 700;
    font-size: 15px;
    color: white;
}

.top-score {
    margin-top: .5vmin;
}

/*****************
*******STATS******
*****************/
.stats-nav {
    /*z-index: 2;*/
    height: 30px;
    /*position: fixed;*/
    padding-left: 15px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(#272727, white, #272727);
    margin-top: 3vmin;
}

.stats-nav div {
    width: 200px;
    height: 30px;
    text-align: center;
    background: linear-gradient(white, #857F74, white);
    /*background-color: #EF6F6C;*/
    cursor: pointer;
    display: inline-block;
    margin-right: -10px;
    -webkit-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    /*border: 2px solid white;*/
    color: black;
}

.sport-heading h3 {
    font-size: 19px;
    color: white;
}

.sport-heading {
    margin-top: 8vmin;
    height: 90px;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: white;
}

.sport-heading img {
    border-radius: 50%;
}

.team-title {
    text-align: center;
}

.offseason {
    text-align: center;
}

/*****************
******FOOTER******
*****************/

.whole-footer {
    background-image: url("/images/sports.jpg");
    background-position: center;
    margin-top: 5vh;
}

.footer {
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 2vmin;
    padding-bottom: 2vmin;
}

.devs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-padding {
    font-size: 27px;
}

.footer-padding:hover {
    cursor: pointer;
}

.circular-image {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.circular-image img {
    width: auto;
    height: 100%;
}

.circular-image:hover {
    cursor: pointer;
    border: 6px solid #3B7DB5;
}

.about-page {
    margin-top: 15vmin;
    height: calc(100vh - 20vh);
    color: white;
}
.about-names {
    margin-bottom: 5vh;
}
.about-pics {
    margin-bottom: 5vh;
}

/****************
******TEAMS******
****************/
.stats-page{
    /*width: 100%;*/
    /*position: relative;*/
    /*height: 100vh;*/
    padding-top: 10vh;
    /*background: #eee;*/
}

.search-img{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 5px;
    top: 0px;
}

.team-page {
    margin-bottom: 25vmin;
    width: 100%;
    padding-top: 100px;
    position: relative;
    color: white;
}

.ind-teams {
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    border-radius: 30%;
    border: 3px solid black;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.ind-teams:hover {
    border: 3px solid #16425B;
}

.team-img {
    padding-top: 1vmin;
    padding-bottom: 1vmin;
}

.team-info {
    padding-top: 2vmin;
    padding-bottom: 2vmin;
}

.team-logo {
    width: 130px;
    height: 90px;
}

.ind-teams p {
    display: none;
    font-size: 25px;
    color: #16425B;
    font-family: 'Permanent Marker', cursive;
}

.ind-teams:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.ind-teams:hover img {
    display: none;
}

.ind-teams:hover p {
    display: block;
}

.all-roster {
    color: white;
}

.all-schedule {
    color: white;
}


/***************
****ABOUT US****
***************/



/***************
******MEDIA*****
***************/
@media (max-width: 1700px) {
    .ind-score {
        width: 90%;
    }
}

@media (max-width: 1100px) {
    .stats-nav {
        margin-top: -2vmin;
    }

    .sport-heading {
        margin-top: 4vmin;
    }

    .whole-footer {
        margin-top: 21vmin;
    }
}
@media (max-width: 1000px) {
 .ind-score {
     display: none;
 }
    .header {
        margin-top: 5vh;
    }
}
@media (max-width: 800px) {
    .main-page {
        margin-top: 15vh;
    }
}

